*.o
*.log
*.lib
/build/
/build.*/
/bin/
/.cproject
/.vscode/
/.installed/

# -- WORKSPACE ONLY DIRECTORY AND FILES:
.cmake_project.cxx_standard
__*/
__*.txt
__*.diff

# -- CPPCHECK:
*.cpp.dump

# -- DISABLED: GIT-SUBPROJECTS
/lib/spdlog/
/lib/fmt/
/lib/doctest/

# -- MANUAL COPIES: For a specific version.
/lib/spdlog_v*/
/lib/fmt_v*/
