*.o
*.log
*.lib
/build/
/build.*/
/bin/
/cmake-build-*/
/.cproject
/.direnv/
/.fleet/
/.idea/
/.vscode/
/.installed/

# -- WORKSPACE ONLY DIRECTORY AND FILES:
.cmake_project.cxx_standard
__*/
__*.txt
__*.diff

# -- CPPCHECK:
*.cpp.dump

# -- DISABLED: GIT-SUBPROJECTS
/lib/doctest/
/lib/fmt/
/lib/spdlog/
/lib/quill/

# -- MANUAL COPIES: For a specific version.
/lib/doctet_v*/
/lib/fmt_v*/
/lib/spdlog_v*/
