# ============================================================================
# PYTHON PACKAGE REQUIREMENTS: cxx.simplelog
# ============================================================================
# DESCRIPTION:
#    pip install -r <THIS_FILE>
#
# SEE ALSO:
#  * http://www.pip-installer.org/
# ============================================================================

# -- HINT: cmake can be installed as python wheel (provide by cmake team).
# REASON: Many package managers (debian, apt, ...) are rather conservative.
# BUT:    Developer(s) often need newer versions.
# BETTER: cmake >= 3.18
cmake >= 3.16
ninja

cmake-format
clang-format >= 18.1.8
clang-tidy >= 18.1.8
gcovr

cmake-build @ git+https://github.com/jenisys/cmake-build@v0.2.4.dev2

# -- MAYBE:
# uv >= 0.4.0

-r tasks/py.requirements.txt
