# =============================================================================
# EDITOR CONFIGURATION: http://editorconfig.org
# =============================================================================
# DISABLED: root = true

# -- DEFAULT: Unix-style newlines with a newline ending every file.
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{rst,txt,md}]
indent_style = space
indent_size = 4

[*.cmake]
indent_style = space
indent_size = 4

[**/makefile]
indent_style = tab
